{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block container %}
    <div class="row">
        <div>
            <h3>Staphopia Samples</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div>
            <table id="samples_table" class="dataTable table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sample Tag</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>

    $(document).ready(function() {
        var table = $('#samples_table').DataTable({
            "processing": true,
            "serverSide": true,
            "scrollY": "700px",
            "scrollX": true,
            "autoWidth": true,
            "displayLength": 50,
            "ajax": "{% url 'samples_data' %}",
            "paginationType": "full_numbers",
            "rowCallback": function( row, data ) {
                $(row).prop('title', "Views details on sample " + data[0] + " in another window.");
            }
        });

        $('#samples_table tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            window.open(rowData[0]+'/', '_blank');
            window.focus();
        } );
    });

    </script>
{% endblock %}
