{% extends "base.html" %}

{% block title %}Staphopia - Email Change{% endblock %}

{% block container %}
    <div class="row">
        {% include "accounts/settings-sidebar.html" %}
    
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <div>
                    <h3>Change Your Staphopia Email</h3>
                    <p class="indent">
                        To change your Staphopia email, please fill out the form 
                        below.
                    </p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div>
                    {% if form.errors %}
                        <div class="alert alert-warning" role="alert">
                        <strong>Whoops! One or more fields has a problem!</strong>
                            {% for field,error in form.errors.items %}
                                {% if field == "new_password1" %}
                                    <p class="indent">New Password: {{ error|join:"" }}</p>
                                {% elif field == "new_password2" %}
                                    <p class="indent">Repeat New Password: {{ error|join:"" }}</p>
                                {% elif field == "old_password" %}
                                    <p class="indent">Current Password: {{ error|join:"" }}</p>
                                {% else %}
                                    <p class="indent">Passwords: {{ error|join:"" }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_old_email">Current Email </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input disabled value={{ user.email }} id="id_old_email" 
                                       name="old_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_new_email">New Email </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_new_email" name="new_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_confirmed_email">Confirm Email </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_confirmed_email" name="confirmed_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_password">Password </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_password" name="password" type="password" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 col-md-4 control-label" for="submit"></label>
                          <div class="col-sm-2 col-md-2">
                            <button id="submit" name="submit" class="btn btn-primary">Change Email</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}