/*
    Staphopia specific CSS
*/

/* ------------------------------------
    Shared
------------------------------------ */
.navbar-right {
    margin-right: 10px !important;
}

button.log {
    margin-left: 15px !important;
}

div.fix-navbar {
    margin-top: 40px;
}

footer .copyright {
    text-align: center;
}

span.error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

div.fix-top-margin {
    margin-top: 20px;
}

.tooltip-inner {
    min-width: 110px;
    width: 110px; 
}

/* ------------------------------------
    index.html
------------------------------------ */
p {
    line-height: 1.55em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p.indent {
    text-indent: 2em;
    text-align: justify;
}

img.embed {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

/* ------------------------------------
    contact.html
------------------------------------ */
div.panel {
    margin-top: 20px;
    margin-bottom: 0px;
}

label.text-right {
    padding-right: 0px;
}


/* ------------------------------------
    top10.html
------------------------------------ */
table thead  td{
    font-weight: bold; 
}

/* ------------------------------------
    samples.html
------------------------------------ */
#samples_table_wrapper {
    font-size: 12px;
}

#samples_table_wrapper  table{
    width: 100% !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    cursor: pointer;
    background-color: #2ba6cb !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #E2E4FF;
}

