{% url 'home' as home %}
{% url 'submission' as submission %}
{% url 'samples' as samples %}
{% url 'top10' as top10 %}
{% url 'contact' as contact %}
{% load navbar %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <em>Staphopia&trade;<sub>v2</sub></em>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Left Nav Section -->
            <ul class="nav navbar-nav">
                <li class="{% active request home %}"><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                <li class="{% active request submission %}"><a href="/submission/">Submission</a></li>
                {% endif %}
                <li class="{% active request samples %}"><a href="/samples/">Samples</a></li>
                <li class="{% active request top10 %}"><a href="/top10/">Top 10</a></li>
                <li class="{% active request contact %}"><a href="/contact/">Contact</a></li>
            </ul>
            <!-- Right Nav Section -->
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" 
                       title="View Samples" href="/samples/{{ user.username }}/"> 
                        <span class="glyphicon glyphicon-user"></span>
                        {{ user.username }} 
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" 
                       title="Account Settings" href="/accounts/settings/">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" 
                       title="Sign Out" href="/accounts/logout/">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" 
                       title="Sign In" href="/accounts/login/">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
