{% extends "base.html" %}

{% block title %}Staphopia - Activation Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class=>
            <h3>Account Activation Successful</h3>
            <p>
                Your Staphopia account has been activated and registration is 
                now complete. Thank you for signing up, you can now 
                <a href="/accounts/login/">log in</a>.
            </p>
        </div>
    </div>
{% endblock %}