{% extends "base.html" %}

{% block title %}Staphopia - Password Change{% endblock %}

{% block container %}
    <div class="row">
        {% include "accounts/settings-sidebar.html" %}
    
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <div>
                    <h3>Change Your Staphopia Password</h3>
                    <p class="indent">
                        To change your Staphopia password, please fill out the form 
                        below.
                    </p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div>
                    {% if form.errors %}
                        <div class="alert alert-warning" role="alert">
                        <strong>Whoops! One or more fields has a problem!</strong>
                            {% for field,error in form.errors.items %}
                                {% if field == "new_password1" %}
                                    <p class="indent">New Password: {{ error|join:"" }}</p>
                                {% elif field == "new_password2" %}
                                    <p class="indent">Repeat New Password: {{ error|join:"" }}</p>
                                {% elif field == "old_password" %}
                                    <p class="indent">Current Password: {{ error|join:"" }}</p>
                                {% else %}
                                    <p class="indent">Passwords: {{ error|join:"" }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="form-horizontal" role="form" method="post" action="?next={{ next|default:"/" }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_old_password">Current Password </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_old_password1" name="old_password" type="password" class="form-control input-md"
                                       pattern="^.{8,}$" title="Must be at least 6 characters in length.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_new_password1">New Password </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_new_password1" name="new_password1" type="password" class="form-control input-md"
                                       pattern="^.{8,}$" title="Must be at least 6 characters in length.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 control-label" for="id_new_password2">Repeat New Password </label>
                            
                            <div class="col-sm-6 col-md-5">
                                <input id="id_new_password2" name="new_password2" type="password" class="form-control input-md"
                                       pattern="^.{8,}$" title="Must be at least 6 characters in length.">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 col-md-4 control-label" for="submit"></label>
                          <div class="col-sm-2 col-md-2">
                            <button id="submit" name="submit" class="btn btn-primary">Change Password</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}